* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-background: #27292b;

  --color-primary: #e69d00;
  --color-secondary: #3F3522;
  --color-tertiary: #590004;

  --color-text: #e9e9e9;
  --color-light-text: #c5c5c5;

  --size-title: 40px;
  --size-subtitle: 26px;
  --size-text: 18px;

  --font-title: 'Montserrat', sans-serif;
  --font-text: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary); 
}